<h1><%= @user.name %>'s profile</h1>

<% if @user.events.any? %>
  <h3>Attending the following events</h3>

  <div class="list-group mb-3">
    <% @user.events.each do |event| %>
      <%= render 'events/event_list', event: event %>
    <% end %>
  </div>
<% end %>

<% if @user.attended_events.any? %>
  <h3>Attending the upcoming events</h3>

  <div class="list-group mb-3">
    <% @user.attended_events.where("date >= ?", DateTime.current.to_date).each do |event| %>
      <%= render 'events/event_list', event: event %>
    <% end %>
  </div>

  <h3>Past events</h3>

  <div class="list-group mb-3">
    <% @user.attended_events.where("date < ?", DateTime.current.to_date).each do |event| %>
      <%= render 'events/event_list', event: event, hide_attend_button: true %>
    <% end %>
  </div>
<% end %>