<label class="list-group-item d-flex gap-3 justify-content-between">
  <span class="pt-1">
    <strong><%= link_to event.title, event %></strong>
    <small class="d-block text-body-secondary">
      <i class="bi bi-calendar"></i>
      <%= event.date %>
    </small>
  </span>
  <span class="align-self-center">
    <% if current_user && current_user.attended_events.include?(event) %>
      <% if event.date >= DateTime.current.to_date %>
        You're going!
      <% end %>
    <% else %>
      <%= button_to 'Attend', attending_url(event.id), method: :post, class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
  </span>
</label>